<!DOCTYPE html>
<html lang="fr">
<% include partials/head.ejs%>
<body>
<% include partials/header.ejs%>
<div class="wrap">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card m-b-30">
                    <div class="card-header">
                        <div class="float-left">
                            <a href="#"><h4>Add Monitor</h4></a>
                        </div>
                        <div class="float-right">
                            <a class="btn btn-success" href="/dashboard">Back</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <form class="mt-5 mb-5 login-input" method="post">
                            <%if(error.length > 0){%>
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                <%=error%>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <%}%>
                            <div class="form-group">
                                <label for="label">
                                    label
                                </label>
                                <input type="text" id="label" name="label" class="form-control" placeholder="label" required>
                            </div>
                            <div class="form-group">
                                <label for="domain">
                                    Domain/IP (do not use suffixes such as http(s)://example.com or ftp://example.com just put the domain name) Example: example.com
                                </label>
                                <input type="text" maxlength="255" id="domain" name="domain" class="form-control" placeholder="Domain/IP" required>
                            </div>
                            <div class="pb_select-wrap">
                                <label for="type">
                                    Type
                                </label>
                                <select id="type" name="type" class="form-control" onchange="showHideEle(this)" required>
                                    <option value="" selected="" disabled>Select Type</option>
                                    <option value="ping">Ping</option>
                                    <option value="service">Service</option>
                                    <option value="website">Website</option>
                                </select>
                            </div>
                            <div class="pb_select-wrap hidden" id="portwebsite">
                                <label for="port">
                                    Port
                                </label>
                                <select id="port" name="port" class="form-control" required onchange="showHideEleport(this)">
                                    <option selected="" disabled="">Please select a Port</option>
                                    <option value="custom">Custom Port</option>
                                    <optgroup label="Popular Ports">
                                        <option value="80">HTTP (80)</option>
                                        <option value="443">HTTPS (443)</option>
                                        <option value="21">FTP (21)</option>
                                        <option value="25">SMTP (25)</option>
                                        <option value="465">SMTP Secure (465)</option>
                                        <option value="110">POP3 (110)</option>
                                        <option value="995">POP3 Secure (995)</option>
                                        <option value="143">IMAP (143)</option>
                                        <option value="993">IMAP over SSL (993)</option>
                                        <option value="22">SSH (22)</option>
                                        <option value="389">LDAP (389)</option>
                                        <option value="3306">MySQL (3306)</option>
                                        <option value="115">SFTP (115)</option>
                                        <option value="43">WHOIS (43)</option>
                                        <option value="53">BIND (53)</option>
                                        <option value="3389">RDP (3389)</option>
                                    </optgroup>
                                </select>
                            </div>
                            <div class="form-group hidden" id="portcustom">
                                <label for="customport">
                                    Custom Port
                                </label>
                                <input type="number" class="form-control" id="customport" name="customport" maxlength="5" value="443">
                            </div>
                            <div class="form-group">
                                <label for="warning_threshold">
                                    warning threshold
                                </label>
                                <input type="number" max="50" min="1" class="form-control" id="warning_threshold" name="warning_threshold" placeholder="0" value="1" maxlength="5" aria-describedby="warning_threshold_help">
                            </div>
                                <div class="pb_select-wrap">
                                    <label for="privacymonitor">
                                        Privacy
                                    </label>
                                    <select id="privacymonitor" name="privacymonitor" class="form-control" required>
                                        <option value="" selected="" disabled>Select Privacy</option>
                                        <option value="public">Public</option>
                                        <option value="private">Private</option>
                                    </select>
                                </div>
                                <div class="pb_select-wrap">
                                    <label for="showmonitor">
                                        If Public show monitor ?
                                    </label>
                                    <select id="showmonitor" name="showmonitor" class="form-control" required>
                                        <option value="" selected="" disabled>Select Options</option>
                                        <option value="yes">Yes</option>
                                        <option value="no">No</option>
                                    </select>
                            </div>
                                <div class="pb_select-wrap">
                                    <label for="description">
                                        Short Description components
                                    </label>
                                    <textarea id="description" name="description" class="form-control"></textarea>
                                </div>
                            <button type="submit" class="btn login-form__btn submit w-100 waves-effect">Create Monitor</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<% include partials/footer.ejs%>
<script>
    function showHideEle(selectSrc) {
        if(selectSrc.value==="service") {
            document.getElementById("portwebsite").style.display = "block";
            document.getElementById("portcustom").style.display = "none";
        } else if(selectSrc.value ==="ping") {
            document.getElementById("portwebsite").style.display = "none";
            document.getElementById("portcustom").style.display = "none";
            //ignore this because no param with ping
        }else if(selectSrc.value ==="website"){
            document.getElementById("portwebsite").style.display = "none";
            document.getElementById("portcustom").style.display = "none";
        }
    }
    function showHideEleport(ele){
        if(ele.value === "custom"){
            document.getElementById("portcustom").style.display = "block";
        }else{
            document.getElementById("portcustom").style.display = "none";
        }
    }
</script>
</html>