<!DOCTYPE html>
<html lang="fr">
<% include partials/head.ejs%>
<body>
<% include partials/header.ejs%>
<div class="wrap">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card login-form mb-0">
                    <div class="card-body pt-5">
                        <a class="text-center" href="#"><h4><%if(userinfo != null){%>Profil of <%=userinfo.username%><%}else{%>User Add<%}%></h4></a>
                        <form class="mt-5 mb-5 login-input"  action="<%if(userinfo != null){%>/edit/<%=userinfo._id%><%}else{%>/adduser<%}%>" method="POST">
                            <div class="form-group">
                                <label for="username">
                                    Username
                                </label>
                                <input type="text" id="username" name="username" class="form-control" placeholder="Username" <%if(userinfo != null){%>value="<%=userinfo.username%>"<%}%> required>
                            </div>
                            <div class="form-group">
                                <label for="email">
                                    Email
                                </label>
                                <input type="text" id="email" name="email" class="form-control" placeholder="Email" <%if(userinfo != null){%>value="<%=userinfo.email%>"<%}%> required>
                            </div>
                            <div class="form-group">
                                <div class="pb_select-wrap">
                                    <label for="level">
                                        Level
                                    </label>
                                    <select id="level" name="level" class="form-control" required>
                                        <option value="Admin" <%if(userinfo != null){%><%if(userinfo.rank === "Admin"){%>selected<%}%><%}%>>Administrator</option>
                                        <option value="User" <%if(userinfo != null){%><%if(userinfo.rank === "User"){%>selected<%}%><%}%>>User</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password">
                                    Password
                                </label>
                                <input type="password" id="password" name="password" class="form-control pb_height-50 reverse" placeholder="Password">
                            </div>
                            <button type="submit" class="btn login-form__btn submit w-100 waves-effect"><%if(userinfo != null){%>Edit profil<%}else{%>Create User<%}%></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<% include partials/footer.ejs%>
</html>