<!DOCTYPE html>
<html lang="fr">
<% include partials/head.ejs%>
<body>
<% include partials/header.ejs%>
<div class="content">
    <div class="container pt-70">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <form method="post" class="rounded boxform">
                    <h2 class="mb-4 mt-0 text-center">Login </h2>
                    <%if(error.length > 0){%>
                    <div class="error-msg">
                        <%=error%>
                    </div>

                    <%}%>
                    <div class="form-group">
                        <label for="username">
                            Username
                        </label>
                        <input type="text" id="username" name="username" class="form-control pb_height-50 reverse" placeholder="Username" required>
                    </div>
                    <div class="form-group">
                        <label for="password">
                            Password
                        </label>
                        <input type="password" id="password" name="password" class="form-control pb_height-50 reverse" placeholder="Password" required>
                    </div>
                    <div class="form-group text-center">
                        <input type="submit" class="btn btn-primary btn-lg btn-block pb_btn-pill btn-shadow-blue" value="Login">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
<% include partials/footer.ejs%>
</html>