<!DOCTYPE html>
<html lang="fr">
<% include partials/head.ejs%>
<body>
<% include partials/header.ejs%>
<div class="wrap">
    <div class="container h-100">
        <div class="col-xl-12">
            <div class="form-input-content">
                <div class="card login-form mb-0">
                    <div class="card-body pt-5">
                        <a class="text-center" href="#"><h4>Profile of <%= user.username%></h4></a>
                        <form class="mt-5 mb-5 login-input" method="POST">
                            <%if(error.length > 0){%>
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                <%=error%>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <%}%>
                            <div class="form-group">
                                <label for="username">
                                    Username
                                </label>
                                <input type="text" id="username" name="username" class="form-control" placeholder="Username" value="<%= user.username%>" required>
                            </div>
                            <div class="form-group">
                                <label for="email">
                                    Email
                                </label>
                                <input type="email" id="email" name="email" class="form-control" value="<%= user.email%>" required>
                            </div>
                            <div class="form-group">
                                <label for="level">
                                    Level
                                </label>
                                <select id="level" name="level" class="form-control" required disabled >
                                    <option value="admin" <%if(user.rank === "admin"){required}%>>Administrator</option>
                                    <option value="user" <%if(user.rank === "user"){required}%>>User</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="password">
                                    Password
                                </label>
                                <input type="password" id="password" name="password" class="form-control" placeholder="Password">
                            </div>
                            <button type="submit" class="btn login-form__btn submit w-100 waves-effect">Update Profile</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
</body>
<% include partials/footer.ejs%>
</html>