{
  "websiteport": 3000,
  "httpsenable": false,
  "websiteconfigured": false,
  "secretsession": "fijaepjfeiefaefa8256ae768f768va768e76e8a7efEFAFEFAE857FAE6FA76FE7",
  "websitename": "Sekarion",
  "headershow": true,
  "footershow": true,
  "customstyle": false,
  "customcss": "",
  "showlogin": false,
  "checkinterval": 300000
}