<footer class="footer">
    <div class="container text-center">
        <small>Copyright &copy; <a href="https://joris.dugue.ml" target="_blank" rel="noopener">Joris Dugué</a></small>
    </div>
</footer>