<div class="header-bg">
    <header id="navbar">
        <div class="topbar-main">
            <div class="container-fluid">
                <div>
                    <a href="/" class="logo">
                        <span class="logo-light">
                            Sekarion
                        </span>
                    </a>
                </div>
                <div class="menu-extras topbar-custom navbar p-0">
                    <ul class="navbar-right ml-auto list-inline float-right mb-0">
                        <li class="dropdown navinfo list-inline-item d-none d-md-inline-block">
                            <a class="nav-link dropdown-toggle waves-effect" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                <img src="/img/flags/us_flag.jpg" class="mr-2" height="12" alt=""><span>English</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated language-switch">
                                <a class="dropdown-item" href="#"><img src="/img/flags/french_flag.jpg" alt="" height="16"><span> French </span></a>
                                <a class="dropdown-item" href="#"><img src="/img/flags/spain_flag.jpg" alt="" height="16"><span> Spanish </span></a>
                            </div>
                        </li>
                        <li class="menu-item dropdown navinfo list-inline-item">
                            <a class="navbar-toggle nav-link">
                                <div class="lines">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="navbar-custom active">
            <div class="container-fluid">
                <div id="navigation" class="active">
                    <ul class="nav-menu">
                        <li class="has-submenu">
                            <a href="http://sekarion.tk">Get Started</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
</div>